:root {
  --purple: #800080;
  --light-text-color: #fefefe;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Exercise 01 - Center */

/* First, I'm going to create a flexbox container element for the box 
to be a child of. */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100pc;
}

.box {
  width: 200px;
  height: 100px;
  padding: 1rem;
  background: var(--purple);
  color: var(--light-text-color);
  font-size: 1.75rem;
  text-align: center; 
  margin: auto;

  /* center the text: this requires treating the box itself as a 
  flexbox container item */
  display: flex;
  align-items: center;
}

h1 {
  text-align: center;
}

/* Common styles for Flexbox and CSS Grid */
.flex-item,
.grid-item {
  padding: 10px;
  background-color: var(--purple);
  color: var(--light-text-color);
  font-size: 2em;
  text-align: center;
}

.flex-item {
  width: 160px;
  height: 80px;
  margin: 10px;
}

/* Exercise 02 - Flexbox */

/* Exercise 03 - CSS Grid */

/* Exercise 04 - CSS Grid Areas */
